.navbar-container {
    align-items: center;
    display: flex;
    height: 60px;
    position: absolute;
    width: inherit;
}

.navbar-right {
    display: flex;
    gap: 30px;
    margin-left: auto;
}