.about-hero {
    align-items: center;
    display: flex;
    height: 100vh;
    justify-content: center;
}

.about-grid {
    column-gap: 25px;
    display: grid;
    grid-template-columns: 1fr 4fr;
    height: 80%;
    width: 100%;
}

.about-item {
    display: grid;
    padding: 20px;
    position: relative;
}

.about-right {
    grid-template-rows: repeat(8, 1fr);
}

.about-screen {
    position: absolute;
    height: 100%;
    width: 100%;
    background: currentColor;
    opacity: 0.2;
    z-index: -1;
}