.work-hero {
    align-items: center;
    display: flex;
    flex-direction: column;
    height: 100vh;
    justify-content: center;
}

.work-grid {
    column-gap: 25px;
    display: grid;
    grid-template-columns: 1fr 1fr;
    width: 100%;
}

.work-container {
    border: 1px solid;
    padding-top: 75%;
    position: relative;
}

.work-work {
    background: currentColor;
    height: 100%;
    opacity: 0.25;
    position: absolute;
    top: 0;
    transition: opacity 1s;
    width: 100%;
}

.work-work:hover {
    cursor: pointer;
    opacity: 0;
    transition: opacity 1s;
}