.work-hero {
    align-items: center;
    display: flex;
    flex-direction: column;
    height: 100vh;
    justify-content: center;
}

.work-grid {
    column-gap: 25px;
    display: grid;
    grid-template-columns: 1fr 1fr; /*** remove when in mobile */
    row-gap: 25px;
    width: 100%;
}

.work-container {
    padding-top: 56.25%;
    position: relative;
}

.work-work {
    background: currentColor;
    background-position: center;
    height: 100%;
    opacity: 0.5;
    position: absolute;
    top: 0;
    transition: opacity 1s;
    width: 100%;
}

.work-work:hover {
    cursor: pointer;
    opacity: 0;
    transition: opacity 1s;
}

.work-image {
    background-position: center;
    background-size: cover;
    height: 100%;
    position: absolute;
    top: 0;
    visibility: hidden;
    width: 100%;
}