body {
  font-family: "Lucida Console", "Lucida Sans Typewriter", monaco, "Bitstream Vera Sans Mono", monospace;
}

.container {
  align-items: center;
  display: flex;
  height: calc(90vh - 18px);
  margin: auto;
  width: 60vw;
}
